html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Trykker';
    font-size: 2.5em;
    margin: 0.25em 0;
    padding: 0;
    text-align: left;
}

#cont {
  width: 1000px;
  margin: 0 auto;
}

#header {
    margin: 1em;
}

#timer {
  float: right;
  margin-top: 1em;
}

#timer .time {
  font-size: 1.5em;
  font-family: arial, helvetica, verdana, sans-serif;
}

#secondary {
  width: 200px;
  float: left;
  margin-top: 5em;
}

#primary {
  width: 800px;
  float: right;
}

#content {
    margin-bottom: 5em;
}

#board {
    cursor: pointer;
}

#board .cell {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 10px;
    text-align: center;
    float: left;
    font-family: verdana, sans-serif;
    font-size: 140px;
    background: #EEE;
    line-height: 100%;
}

#board .disabled {
  cursor: auto;
}

#board .cell .letter {
    padding: 35px;
    z-index: 15;
}

#board .hover {
    background: #A34363;
    color: #FFF;
}

#board .cell .inner-cell {
    vertical-align: middle;
    font-size: 0.3em;
}

.clearfix {
    clear: both;
}
